.cu-content-pl{
  width: 100%;
}
.tit{
  height: 30px;
  line-height: 30px;
  max-width: 640px;
}
.cu-content-pl .reply .form textarea {
  width: 100%;
  /* resize: none; */
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  line-height: 22px;
  font-size: 14px;
  outline: 0;
  color: #000;
  height: 68px;
}
#ctl00_ContentBody_Button1{
  float: right;
  width:70px;
  height: 30px;
  background: orange;
  color: #fff;
}
.cu-content-pl .reply .form {
  border: 2px solid #ECEAE8;
  border-radius: 2px;
  padding: 4px 0 0 4px;
  background-color: #fff;
  position: relative;
  width: 98%;
  margin: 0px auto;
}
.list{
  /* height: 80px; */
  width: 100%;
}
.userimg{
  float: left;
}
.userimg img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.con{
  /* width: 100%; */
  /* float: left; */
  margin-left: 30px;
  overflow: hidden;
}
.username{
  color: orange;
  float: left;
}
.con .time{
  float: right;
}

.cu-content-pl .list ul li {
  padding: 18px 10px;
  background-color: #FFFFFF;
}
.content img{
  width: 20px;
  height: 20px;
}

/* 进度条 */

.bar{
  width: 100%;
  height: 16px;
  /* border: 1px solid #000; */
}
.bar i{
  box-sizing: border-box;
  float: left;
  display: block;
  height: 100%;
  width: 100px;
  position: relative;
  border: 1px solid red;
  border-radius: 5px;
  background: pink;
}
.bar i span{
  position: absolute;
  left: 50%;
  top: -2px;
  transform: translate(-50%);
  color: #fff;
  font-size: 14px;
}
.bar i em{
  border-radius: 5px;
  display: block;
  height: 14px;
  background: red;
  
}
.bar b{
  color: red;
  margin-left: 10px;
}


